{% extends "./base.html.twig" %}

{% block title %}
Home
{% endblock title %}

{% block header %}
  {% include './sections/header.html.twig' %}
{% endblock header %}

{% block sidebar %}
  {% include './sections/sidebar.html.twig' %}
{% endblock sidebar %}

{% block main %}
  {% include './forms/login.html.twig' %}
{% endblock main %}

{% block footer %}
{% endblock footer %}
