{% extends "base.html.twig" %}

{% block title %}
Test
{% endblock title %}


{% block css %}
{% endblock css %}

{% block js %}
{% endblock js %}


{% block header %}
<p>This is the header</p>
{% endblock header %}

{% block main %}
<p>This is the main content</p>
{% endblock main %}

{% block footer %}
<p>This is the footer</p>
{% endblock footer %}


{% block top %}
<p>This is the top</p>
{% endblock top %}

{% block left %}
<p>This is the left</p>
{% endblock left %}

{% block right %}
<p>This is the right</p>
{% endblock right %}

{% block bottom %}
<p>This is the bottom</p>
{% endblock bottom %}
