<div class="row justify-content-center">
  <div class="col-md-8">
    <div class="card p-4">
      <div class="card-body">
        <h1>Login</h1>
        <p class="text-muted">Sign in to your account</p>
        <form class="form" role="form" autocomplete="off" id="formLogin" novalidate="" method="POST">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="icon-user"></i></span>
            </div>
            <input type="text" class="form-control" placeholder="Username" name="username">
            <div class="invalid-feedback">Oops, you missed this one.</div>
          </div>
          <div class="input-group mb-4">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="icon-lock"></i></span>
            </div>
            <input type="password" class="form-control" placeholder="Password" name="password">
            <div class="invalid-feedback">Enter your password too!</div>
          </div>
          <button type="submit" class="btn btn-primary px-4">Login</button>
        </form>
      </div>
    </div>
  </div>
</div>
