@import "../../../node_modules/bootstrap/scss/functions";
@import "variables";

.app, app-dashboard, app-root {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh
}

header {
  flex-direction: row;
  height: 55px;
  padding: 0;
  margin: 0;
  border-bottom: 1px $gray-500 solid;
  .navbar {
    background-color: $white !important;
  }
}

footer {
  width: 100%;
}

.main {
  -ms-flex: 1;
  flex: 1;
  min-width: 0
}

.sidebar {
  position: fixed;
  z-index: $zindex-sticky;
  width: 200px;
  height: 100vh;
  flex: 0 0 200px;
  order: -1;
  background-color: $gray-100;
  border-right: 1px $gray-500 solid;
}
