<div class="sidebar py-5">
  <nav class="sidebar-nav">
    <ul class="nav">
      <li class="nav-item open">
        <a class="nav-link active" href="#">
          <i class="icon-speedometer"></i>
          Dashboard
        </a>
      </li>
    </ul>
  </nav>
</div>
