<!doctype html>
<html lang="en">
    <head>
      <title>{% block title %}{% endblock title %}</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      {% block css %}{% endblock css %}

      {% for css in nunu.meta.manifests.css %}
        <link rel="stylesheet" href="/resources/dist/css/{{ css }}">
      {% endfor %}

    </head>
    <body class="app flex-row align-items-center header">

      {% block header %}{% endblock header %}

      {% block sidebar %}{% endblock sidebar %}

      <main class="container">
        {% block main %}{% endblock main %}
      </main>

      <!--
      <footer class="container-fluid">
        {% block footer %}{% endblock footer %}
      </footer>
-->
<!--
      <aside class="slide slide-top">{% block top %}{% endblock top %}</aside>
      <aside class="slide slide-left">{% block left %}{% endblock left %}</aside>
      <aside class="slide slide-right">{% block right %}{% endblock right %}</aside>
      <aside class="slide slide-bottom">{% block bottom %}{% endblock bottom %}</aside>
    -->

      {% block js %}{% endblock js %}

      {% for js in nunu.meta.manifests.js %}
        <script src="/resources/dist/js/{{ js }}"></script>
      {% endfor %}

    </body>
</html>
